/* Remove layer to ensure patterns show over decade backgrounds */
/* @layer base { */
    * {
          box-sizing: border-box;
      }
    
      :root {
          --clr-bg: #222;
          --clr-primary: #181313;
          --clr-secondary: #075985;
          --clr-cta: rgb(175, 208, 84);
      }
      html {
          background-color: var(--clr-bg);
          font-family: system-ui;
      }
      body {
          min-height: 100svh;
          /*font-size: clamp(0.9rem, 2.5vw,1.4rem);*/
          color: var(--clr-primary);
          padding: 0;
          margin: 0;
          /* Canvas-like layered pattern background */
          background-image: 
              radial-gradient(#444cf7 0.5px, transparent 0.5px), 
              radial-gradient(#444cf7 0.5px, transparent 0.5px)!important;
          background-size: 
              20px 20px, 
              20px 20px;
          background-position: 
              0 0, 
              10px 10px;
          opacity: 0.8;
      line-height: 1.5;
          &::after {
              content: "";
              position: fixed;
              top: 1rem;
              left: 1rem;
              width: 32px;
              height: 32px;
  
              background-size: cover;
          }
          background:#FBFBFB!important;
      }
    code {
          color: var(--clr-cta);
          text-transform: lowercase;
      }
    hgroup{
      h1 {
        font-size: 1.4rem;
        font-weight: 100;
        margin: 0;
        /*text-transform: uppercase;*/
        line-height: 1;
      }
      h1 > span {
        font-size: .9rem;
        text-transform: lowercase;
      }
      p {
        font-size: 0.8rem;
        max-width: 72ch;
        text-wrap: balance;
      }
      p > a {
        color: var(--clr-cta);
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
/* } */